.success-main{
    margin: auto;
    background-color: red;
    padding: 10px;
    margin-top: 50px;
    width: fit-content;
}

.success-title{
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
}